@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background: #111;
    padding: 15px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

footer {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
    width: 300px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card p {
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 80%;
    }
}